*{
    margin: 0;
    padding: 0;
    background-color: #efeded;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 20px;
    align-items: center;
}

.intro{
    display: flex;
    justify-content: space-between;
    gap: 120px;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
}

.together{
    display: flex;
    align-items: center;
    border: 1px solid rgba(223, 223, 223, 1);
    padding: 12px;
    border-radius: 8px;
    gap: 10px;
    background-color: rgba(255, 255, 255, 1);
}

.together img{
    background-color: rgba(255, 255, 255, 1);
}

.together input{
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: rgba(112, 112, 112, 1);
    outline: none;
    background-color: rgba(255, 255, 255, 1);
}

nav{
    display: flex;
    gap: 40px;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);;
}

nav a{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);;
}

nav a:active{
    color: rgba(92, 83, 233, 1);
}

nav button{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    padding: 12px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
    border-radius: 8px;
}

/* header2 */
.nav2 {
    gap: 48px;
}

.nav2 a{
    font-weight: 500;
    font-style: medium;
    font-size: 15px;
    color: rgba(36, 36, 36, 1);
    background-color: rgba(255, 255, 255, 1);

}

.nav2 a:active{
    color: rgba(88, 86, 214, 1);
}

.intro2{
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    gap: 6px;
}

.intro2 button{
    padding: 10px;
    background-color: rgba(240, 240, 240, 1);
    border: none;
    border-radius: 7px;
}

#primary{
    background-color: rgba(92, 83, 233, 1);
    padding: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: medium;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
}

/* header 4 */

.nav4{
    background-color: rgba(17, 25, 40, 1);
}

.nav4 a{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(17, 25, 40, 1);
}

/* header 5 */
.intro5{
    display: flex;
    gap: 50px;
    background-color: rgba(17, 25, 40, 1);
    align-items: center;
}

.search{
   border: 1px solid  rgba(214, 216, 222, 1);
   border-radius: 10px;
   padding: 13px;
   display: flex;
   align-items: center;
   width: 500px;
   justify-content: space-between;
}

.search input{
    background-color: rgba(17, 25, 40, 1);
    color: rgba(214, 216, 222, 1);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    border: none;
    outline: none;
}

.search img{
    background-color: rgba(17, 25, 40, 1);
}