
.card{
    padding: 40px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
    gap: 53px;
}

.card_intro{
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.mini-title{
    background-color: rgba(25, 25, 25, 1);
    border-radius: 6px;
    width: fit-content;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    line-height: 27px;
    padding: 0 16px;
    margin-bottom: 48px;
}

.paragraph{
    color: rgba(17, 141, 168, 1);
    font-size: 17px;
    line-height: 27px;
    margin-bottom: 17px;
}

.title{
    font-size: 64px;
    line-height: 70.4px;
    letter-spacing: 2.56px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 28px;
}

.text{
    font-size: 22px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 18px;
}

.btn{
    background-color: rgba(17, 141, 168, 1);
    border: none;
    border-radius: 6px;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    color: rgba(255, 255, 255, 1);
    padding: 12px 15px 12px 20px;
}

.card2{
    padding: 20px 20px 30px 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: rgba(225, 237, 230, 1);
    width: fit-content;
    height: fit-content;
}

.author{ 
   font-size: 16px;
   line-height: 100%;
   color: rgba(134, 146, 139, 1);
   margin-top: 15px;
   margin-bottom: 10px;
}

.name_pr{
    font-size: 24px;
    line-height: 100%;
    color: rgba(44, 45, 53, 1);
    margin-bottom: 10px;
}

.material{
    font-size: 16px;
    line-height: 100%;
    color: rgba(44, 45, 53, 1);
    margin-bottom: 30px;
}

.price{
   font-size: 20px;
   line-height: 100%;
   color:  rgba(89, 141, 102, 1);
   margin-bottom: 10px;
}

.btn2{
    border: 1px solid rgba(89, 141, 102, 1);
    background-color: rgba(225, 237, 230, 1);
    padding: 14px 81px;
    color: rgba(89, 141, 102, 1);
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 100%;
}


.card3{
    border-radius: 10px;
    border: 1px solid rgba(242, 246, 250, 1);
    width: 380px;
}

.intro_card{
    padding: 50px 44px;
    font-family: "Montserrat", sans-serif;
}

.name_cake{
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 143%;
    color: rgba(46, 54, 62, 1);
    margin-bottom: 12px;
}

.description{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(46, 54, 62, 1);
    margin-bottom: 24px;
}

.price2{
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: rgba(67, 75, 83, 1);
    margin-bottom: 14px;
}

.btn3{
    border: none;
    background-color: rgba(254, 216, 76, 1);
    border-radius: 8px;
    padding: 20px 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    color: rgba(46, 54, 62, 1);
}

.card4{
    background-color: rgba(12, 11, 21, 1);
    border-radius: 15px;
    padding: 21px 23px 53px 27px;
    font-family: "Roboto", sans-serif;
    width: 330px;
    height: fit-content;
}

.intro_card4{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.name4{
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 24px;
    margin-top: 18px;
}

.speciality{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: rgba(128, 159, 184, 1);
    margin-bottom: 26px;
}

.text4{
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: rgba(128, 159, 184, 1);
}

.cards{
    display: flex;
    gap: 150px;
    margin-top: 100px;
    align-items: center;
    justify-content: space-evenly;
}