@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 165px;
    background-color: rgba(225, 237, 230, 1);
}

.header_int{
    display: flex;
    gap: 8px;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: rgba(89, 141, 102, 1);
}

.vektor{
   display: none; 
}

nav{
    display: flex;
    align-items: center;
    gap: 60px;
}

nav a{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: rgba(44, 45, 53, 1);
    text-decoration: none;
}

.main{
    padding: 0 165px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.main img{
    width: 450px;
}

.main_int{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

.main_int h1{
    font-weight: 500;
    font-size: 60px;
    line-height: 110%;
    color: rgba(44, 45, 53, 1);
    margin-bottom: 20px;
    margin-top: 100px;
}

.main_int p{
    font-size: 18px;
    line-height: 150%;
    color: rgba(134, 146, 139, 1);
    margin-bottom: 60px;
}

.main_int .color{
    color: rgba(89, 141, 102, 1);
}

.main_int button{
    border: none;
    border: 1px solid rgba(89, 141, 102, 1);
    padding: 21px 60px;
    background-color: #fff;
    color: rgba(89, 141, 102, 1);
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
}

.between{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    color: rgba(44, 45, 53, 1);
    display: flex;
    justify-content: space-between;
    padding: 40px 165px 0 165px;
}

.between_intro{
    display: flex;
    gap: 30px;
}

.between_btn{
    border: none;
    background-color: rgba(212, 232, 217, 1);
    border-radius: 20px;
    padding: 10px 20px;
    color: rgba(44, 45, 53, 1);
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
}

.between_btn:active{
    background-color: rgba(55, 107, 68, 1);
    color: rgba(244, 246, 245, 1);
}

.card{
    padding: 20px 20px 30px 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    background-color: rgba(225, 237, 230, 1);
    width: fit-content;
}

.author{
    font-size: 18px;
    line-height: 100%;
    color: rgba(134, 146, 139, 1);
    margin-top: 20px;
    margin-bottom: 10px;
}

.composition{
    color: rgba(44, 45, 53, 1);
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 8px;
}

.materials{
    color: rgba(44, 45, 53, 1);
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 100%;
}

.price{
    color: rgba(89, 141, 102, 1);
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 100%;
}

.btn{
    border: none;
    border: 1px solid rgba(89, 141, 102, 1);
    padding: 21px 107px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: rgba(89, 141, 102, 1);
    background-color: rgba(225, 237, 230, 1);
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-self: center;
    margin: 30px 0;
}

.promo{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    background-image: url(./img/img16/pic_background.png);
    padding: 70px 150px;
}

.promo1{
    display: flex;
    align-items: center;
    font-size: 40px;
    line-height: 100%;
    color: rgba(244, 246, 245, 1);
    gap: 20px;
    width: 540px;
    margin-bottom: 20px;
}

.promo p{
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 1);
    width: 540px;
}

.promo button{
    margin-top: 60px;
    padding: 21px 60px;
    border: none;
    background-color: rgba(238, 219, 109, 1);
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: rgba(44, 45, 53, 1);
    font-size: 20px;
    line-height: 100%;
}

.pred{
    padding: 70px 165px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.pred img{
    width: 445px;
    height: 440px;
}

.pred_intro{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: rgba(44, 45, 53, 1);
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    justify-content: center;
}

.pred_intro h1{
    font-size: 40px;
    font-weight: 500;
    line-height: 110%;
}

.pred_intro p{
    font-size: 18px;
    line-height: 150%;
}

.person{
    display: flex;
    gap: 30px;
}

.person img{
    width: 80px;
    height: 80px;
}

footer{
    padding: 23px 165px;
    background-color: rgba(225, 237, 230, 1);
}

.number{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: rgba(44, 45, 53, 1);
    font-size: 20px;
    line-height: 100%;
    margin-top: 35px;
    margin-bottom: 8px;
}

.title{
    color: rgba(134, 146, 139, 1);
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
}

.footer_nav{
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: stretch;
}

.footer_nav a{
    color: rgba(134, 146, 139, 1);
    font-size: 18px;
    line-height: 150%; 
}

.footer_nav a:first-child{
    color: rgba(44, 45, 53, 1);
}

.footer_int2{
    display: flex;
    gap: 60px;
}

footer{
    display: flex;
    justify-content: space-between;
}

.icon{
    display: flex;
    gap: 30px;
    align-items: center;
}

.footer_int3{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: rgba(134, 146, 139, 1);
    font-size: 12px;
    line-height: 120%;
}

.inner_c{
    display: flex;
    justify-content: space-between;
    gap: 248px;
}

@media (max-width: 1140px){
    header{
    padding: 32px 39px;
}

nav a{
    font-size: 18px;
}

.main{
    padding: 0 39px;
}

.main img{
    width: 330px;
}

.main_int h1{
    font-size: 40px;
    line-height: 100%;
    margin-top: 35px;
}

.main_int p{
    margin-bottom: 40px;
}

.main_int button{
    padding: 18px 50px;
}

.between{
    font-size: 30px;
    padding: 35px 39px 0 39px;
}

.btn{
    padding: 21px 97px;
}

 .cards{
        grid-template-columns: repeat(2, 1fr);
    }
.card img{
        width: 290px;
        height: 422px;
    }

.promo{
    padding: 70px 39px;
}

.promo1{
    font-size: 30px;
    width: fit-content;
    margin-bottom: 30px;
}

.promo p{
    width: fit-content;
}

.promo button{
    padding: 18px 36px;
}

.pred{
    padding: 50px 39px;
    display: inline-block;
    gap: 40px;
}

.pred img{
    width: 510px;
    height: 504px;
}

.person img{
    width: 80px;
    height: 80px;
}

.pred_intro h1{
    font-size: 30px;
}

footer{
    padding: 23px 39px;
}

.inner_h{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.number{
    margin-top: 0;
}

.footer_nav a{
    font-size: 20px;
    line-height: 100%; 
}

footer{
    display: block;
}
   
}

@media (max-width: 780px){
header{
    display: block;
    padding: 16px 33px;
}

.header_int{
    justify-content: center;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(195, 209, 198, 1);
}

nav{
    margin-top: 16px;
    justify-content: space-between;
}

nav a{
    font-size: 18px;
}

.main{
    padding: 50px 33px;
}

/* .main img{
    width: 450px;
} */

.main_int h1{
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 10px;
    margin-top: 0;
}

.main_int p{
    font-size: 16px;
    margin-bottom: 11px;
}

.main_int button{
    padding: 14px 41px;
    font-size: 18px;
}

.between{
    font-size: 24px;
    display: block;
    padding: 0px 33px;
}

.between_intro{
    gap: 32px;
    margin-top: 20px;
}

.between_btn{
    font-size: 18px;
}

.author{
    font-size: 16px;
    margin-top: 15px;
}

.composition{
    font-size: 24px;
    margin-bottom: 10px;
}

.materials{
    font-size: 16px;
}

.price{
    margin-bottom: 10px;
    font-size: 20px;
}

.btn{
    padding: 14px 57px;
    font-size: 18px;
}

.cards{
    grid-template-columns: repeat(2, 1fr);
    margin: 20px 33px;
}

.promo{
    background-image: url(./img/img16/pic_background.png);
    padding: 50px 33px;
}

.promo1{
    font-size: 24px;
    width: fit-content;
}

.promo p{
    font-size: 16px;
    line-height: 140%;
    width: fit-content;
}

.promo button{
    margin-top: 20px;
    padding: 14px 35px;
    font-size: 18px;
}

.pred{
    padding: 50px 33px;
    display: block;
}

.pred img{
    width: 375px;
    height: 370px;
}

.pred_intro h1{
    font-size: 24px;
}

.pred_intro p{
    font-size: 16px;
    line-height: 140%;
}

.person img{
    width: 80px;
    height: 80px;
}

footer{
    padding: 23px 33px;
}

.number{
    margin-top: 0;
}

.title{
    font-size: 16px;
}

.footer_nav a{
    font-size: 20px;
    line-height: 100%; 
}

.footer_int2{
    display: flex;
    gap: 0;
    justify-content: space-between;
    padding-bottom: 16px; 
    border-bottom: 1px solid rgba(195, 209, 198, 1);
}

footer{
    display: block;
}

.inner_c{
    display: block;
}

.footer_int3{
    text-align: center;
    margin-top: 16px;
}

.icon{
    justify-content: center;
}

.p{
    display: flex;
    justify-content: center;
}

}

@media (max-width: 500px){
    header{
    padding: 0;
}

.header_int{
    background-color: #fff;
    padding: 15px;
    border: none;
}

.vektor{
    display: inline;
}

.menu a{
    display: none;
}

.menu{
    padding: 19px 15px;
    align-items: center;
    margin-top: 0;
}

.main{
    padding: 60px 15px;
}

.main img{
    display: none;
}

.main_int h1{
    font-size: 30px;
    line-height: 100%;
    margin-top: 0;
}

.main_int p{
    font-size: 14px;
    margin-bottom: 40px;
}

.main_int button{
    padding: 14px 29px;
    font-size: 18px;
}

.between{
    font-size: 24px;
    padding: 0 15px;
    display: block;
    overflow: hidden;
}

.between_intro{
    display: flex;
    gap: 20px;
}

.between_btn{
    font-size: 18px;
}

.card{
    padding: 20px 15px;
}

.card img{
    width: 250px;
    height: 250px;
}

.author{
    font-size: 16px;
}

.composition{
    font-size: 24px;
}

.materials{
    font-size: 16px;
}

.price{
    margin-bottom: 10px;
    font-size: 20px;
}

.btn{
    padding: 14px 82px;
    font-size: 18px;
}

.cards{
    grid-template-columns: 1fr;
}

.promo{
    padding: 50px 15px;
}

.promo1{
    font-size: 24px;
    gap: 10px;
}

.promo1 img{
    width: 50px;
    height: 50px;
}

.promo p{
    font-size: 16px;
    line-height: 140%;
}

.promo button{
    margin-top: 20px;
    padding: 14px 83px;
    font-size: 16px;
    line-height: 140%;
    width: -webkit-fill-available;
}

.pred{
    padding: 60px 15px;
    display: block;
}

.pred img{
    width: 290px;
    height: 286px;
}

.pred_intro h1{
    font-size: 24px;
}

.pred_intro p{
    font-size: 16px;
    line-height: 140%;
}

.person{
    gap: 25px;
}

.person img{
    width: 80px;
    height: 80px;
}

footer {
    padding: 20px 15px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .inner_h {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .footer_int2 {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }

  .inner_c {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .inner_h .header_int{
    background-color: rgba(225, 237, 230, 1);
  }

  .footer_nav a{
    font-size: 16px;
}

.number{
    font-size: 16px;
}
}


