body{
    margin: 0;
    padding: 0;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.card{
    background-color: rgba(225, 237, 230, 1);
    padding: 20px 20px 30px 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-style: normal;
    width: fit-content;
}

img{
    width: 310px;
    height: 422px;
}

.author{
    color: rgba(134, 146, 139, 1);
    font-size: 18px;
    line-height: 100%;
    margin: 20px 0 10px 0;
}

.composition{
    font-size: 30px;
    line-height: 100%;
    color: rgba(44, 45, 53, 1);
    margin-bottom: 8px;
}

.materials{
    font-size: 18px;
    line-height: 100%;
    color: rgba(44, 45, 53, 1);
    margin-bottom: 30px;
}

.price{
    font-size: 24px;
    line-height: 100%;
    color: rgba(89, 141, 102, 1);
    margin-bottom: 20px;
}

.btn{
    border: none;
    border: 1px solid rgba(89, 141, 102, 1);
    background-color: rgba(225, 237, 230, 1);
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: rgba(89, 141, 102, 1);
    padding: 21px 106px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 50px 0 50px 0;
    justify-self: center;
}

.cards2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 50px;
    justify-self: center;
}